<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386636475300-nh4hjmhvp4os3qd63ul0vbmf3a9fc550.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386636475300-nh4hjmhvp4os3qd63ul0vbmf3a9fc550</string>
	<key>API_KEY</key>
	<string>AIzaSyAFLsxaoWZeWCKN491g4n7eeUIy1G8p0mk</string>
	<key>GCM_SENDER_ID</key>
	<string>386636475300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>levi.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d2f06</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d2f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386636475300:ios:449981f016862800b2af31</string>
</dict>
</plist>